<%= node["client"]["ip"] %> <%= node["client"]["name"] %>
<%= node["master"]["ip"] %> <%= node["master"]["name"] %>
<% node["worker"].each do |worker| %>
<%= worker["ip"] %> <%= worker["name"] %>
<% end %>
