<configuration>

  <!-- ResourceManagerが動作するマシンのホスト名を設定 -->
  <property>
    <name>yarn.resourcemanager.hostname</name>
    <value><%=node["master"]["name"] %></value>
  </property>
  <property>

    <name>yarn.nodemanager.hostname</name>
    <value><%=node["master"]["name"] %></value>
  </property>

  <!-- コンテナのログの格納先 -->
  <!-- Sparkではエグゼキュータやドライバのログが格納される -->
  <property>
    <name>yarn.nodemanager.log-dirs</name>
    <value>file:///hadoop/yarn/node-manager/logs</value>
  </property>

  <!-- NodeManagerが利用するローカルディスクのパスを指定 -->
  <property>
    <name>yarn.nodemanager.local-dirs</name>
    <value>file:///hadoop/yarn/node-manager/local</value>
  </property>

</configuration>
